<!--<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      KD App Movie list
    </ion-title>
  </ion-navbar>
  
  
  
</ion-header>-->


<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> KD App Movie list</ion-title>
  </ion-navbar>
</ion-header>


<!--
<ion-content padding>
  The world is your oyster.
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p>
</ion-content>
-->

<!--
<ion-content padding>
 <ion-grid>
   <ion-row>
     <ion-col col-6>
       Our first piece of content within a grid
     </ion-col>
     <ion-col col-6>
       Our second piece of content next to our first
     </ion-col>
   </ion-row>
 </ion-grid>
 
  <ion-col col-12 col-md-6>
       <button ion-button color="secondary" (click)="goToIconsPage()">Go to Icons Page</button>
     </ion-col>
	 
</ion-content>

-->
 
<ion-content padding class="home">





  <ion-grid>
    <ion-row text-center>
      <ion-col>
		I'm a column
		<button ion-button color="danger" (click)="shareInfo()" > Share</button>
	  </ion-col>
	  
      <ion-col>
	     Another column
		<button ion-button (click)="shareInfo()">
		  <ion-icon name="share"></ion-icon>
		</button>
	  </ion-col>
    </ion-row>
  </ion-grid>
  
  
 <ion-col col-12 col-md-6>
       <button ion-button color="primary" [navPush]="aboutPage">Go To About</button>
	   
     </ion-col>

  <ion-card>
    <ion-card-header>
      Card Header  <button ion-button block (click)="openModal()">Open Modal</button>
    </ion-card-header>
    <ion-card-content>
      Hello {{name}}
    </ion-card-content>
	
	
	
	
	
	<ion-card>
		<ion-card-content>
		  Hello World, this is my camera app

		  <button (click)="takePicture()">Take a Picture</button>

		  Latest Picture:
		  <img [src]="base64Image" *ngIf="base64Image" />
		</ion-card-content>
	</ion-card>
  </ion-card>
  
  
  
  <ion-content>
  <ion-slides autoplay="5000" loop="true" speed="500" pager="true" parallax="true" padding>

    <ion-slide>
      <img src="https://c1.sfdcstatic.com/content/dam/web/en_is/www/images/home/promos/resource-card-my-trailhead.jpg">
      <h1>Welcome to my app!</h1>
    </ion-slide>

    <ion-slide>
      <img src="https://c1.sfdcstatic.com/content/dam/web/en_us/www/images/home/sfdc-chp-reco-meet-the-trailblazers.jpg">
      <h1>All of the features</h1>
      <p>Here's what you can do with the app...</p>
    </ion-slide>

    <ion-slide>
      <img src="https://c1.sfdcstatic.com/content/dam/web/en_is/www/images/home/promos/nav-promo-marketing-cloud.jpg">
      <h1>Get started now!</h1>
      <button ion-button outline small (click)="navHome()">
        Start using the app
      </button>
    </ion-slide>

  </ion-slides>
</ion-content>


  
  
 <ion-col col-12 col-md-6>
       <button ion-button color="secondary" (click)="goToIconsPage()">Go to Icons Page</button>
	   
	   
	   <button ion-button color="danger" (click)="goToListFilmPage()">List Films</button>
	   
	   <p>
		<button ion-button color="primary" menuToggle>Toggle Menu</button>
		</p>
  
     </ion-col>
	 
    <ion-item>
        <ion-label color="primary" stacked>Search movie database</ion-label>
        <ion-input type="text" (input)="searchMovieDB($event, searchKey)"></ion-input>
    </ion-item>
 
    <ion-list>    
        <ion-item *ngFor="let movie of movies" (click)="itemTapped($event, movie)">
            <ion-avatar item-left>
                <img src="https://image.tmdb.org/t/p/w92{{movie.poster_path}}"/>
            </ion-avatar>
            <h2>{{movie.original_title}}</h2>
            <p class="item-description">{{movie.overview}}</p>
        </ion-item>
    </ion-list>   
</ion-content>


