<!--<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      KD App Movie list
    </ion-title>
  </ion-navbar>
  
  
  
</ion-header>-->


<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> KD App Movie list</ion-title>
  </ion-navbar>
</ion-header>


<!--
<ion-content padding>
  The world is your oyster.
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p>
</ion-content>
-->

<!--
<ion-content padding>
 <ion-grid>
   <ion-row>
     <ion-col col-6>
       Our first piece of content within a grid
     </ion-col>
     <ion-col col-6>
       Our second piece of content next to our first
     </ion-col>
   </ion-row>
 </ion-grid>
 
  <ion-col col-12 col-md-6>
       <button ion-button color="secondary" (click)="goToIconsPage()">Go to Icons Page</button>
     </ion-col>
	 
</ion-content>

-->
 <!--
<ion-content padding class="home">-->


<ion-content class="home card-background-page padding" >


  <ion-grid>
    <ion-row text-center>
      <ion-col>
		I'm a column
		<button ion-button color="danger" (click)="shareInfo()" > Share</button>
	  </ion-col>
	  
      <ion-col>
	     Another column
		<button ion-button (click)="shareInfo()">
		  <ion-icon name="share"></ion-icon>
		</button>
	  </ion-col>
    </ion-row>
  </ion-grid>
  
  
 <ion-col col-12 col-md-6>
       <button ion-button color="primary" [navPush]="aboutPage">Go To About</button>
	   
     </ion-col>

  <ion-card>
    <ion-card-header>
      Card Header  <button ion-button block (click)="openModal()">Open Modal</button>
    </ion-card-header>
    <ion-card-content>
      Hello {{name}}
    </ion-card-content>
	
	
	
	
	
	<ion-card>
		<ion-card-content>
		  Hello World, this is my camera app

		  <button (click)="takePicture()">Take a Picture</button>

		  Latest Picture:
		  <img [src]="base64Image" *ngIf="base64Image" />
		</ion-card-content>
	</ion-card>
  </ion-card>
  
  
  <ion-slides autoplay="5000" loop="true" speed="500" pager="true" parallax="true" padding>

    <ion-slide>
      <img src="https://c1.sfdcstatic.com/content/dam/web/en_is/www/images/home/promos/resource-card-my-trailhead.jpg">
      <h1>Welcome to my app!</h1>
    </ion-slide>

    <ion-slide>
      <img src="https://c1.sfdcstatic.com/content/dam/web/en_us/www/images/home/sfdc-chp-reco-meet-the-trailblazers.jpg">
      <h1>All of the features</h1>
      <p>Here's what you can do with the app...</p>
    </ion-slide>

    <ion-slide>
      <img src="https://c1.sfdcstatic.com/content/dam/web/en_is/www/images/home/promos/nav-promo-marketing-cloud.jpg">
      <h1>Get started now!</h1>
      <button ion-button outline small (click)="navHome()">
        Start using the app
      </button>
    </ion-slide>

  </ion-slides>


  
  
 <ion-col col-12 col-md-6>
       <button ion-button color="secondary" (click)="goToIconsPage()">Go to Icons Page</button>
	   
	   
	   <button ion-button color="danger" (click)="goToListFilmPage()">List Films</button>
	   
	   <p>
		<button ion-button color="primary" menuToggle>Toggle Menu</button>
		</p>
  
     </ion-col>
	 
    <ion-item>
        <ion-label color="primary" stacked>Search movie database</ion-label>
        <ion-input type="text" (input)="searchMovieDB($event, searchKey)"></ion-input>
    </ion-item>
 
    <ion-list>    
        <ion-item *ngFor="let movie of movies" (click)="itemTapped($event, movie)">
            <ion-avatar item-left>
                <img src="https://image.tmdb.org/t/p/w92{{movie.poster_path}}"/>
            </ion-avatar>
            <h2>{{movie.original_title}}</h2>
            <p class="item-description">{{movie.overview}}</p>
        </ion-item>
    </ion-list>  
	
	
    
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Thronester</h1>
            </div>
        </div>
        <div class="list">
            <!--<ion-md-input placeholder="Username" highlight-color="balanced" type="text"></ion-md-input>
            <ion-md-input placeholder="Password" highlight-color="energized" type="password"></ion-md-input>
			-->
	   </div>
        <div class="padding">
            <button ui-sref="app.profile" class="button button-full button-assertive ink">Login</button>
        </div>
        <div class="button-bar social-login">
            <button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
            <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
        </div>
		
		
		
		<!------------------->
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('assets/imgs/jon-snow.jpg');"></span>
                    <strong>Jon Snow</strong> knows nothing.
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubbles positive"></i> 6
                        <i class="icon ion-heart assertive"></i> 23
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> just now
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('assets/imgs/tyrion.jpg');"></span>
                    <strong>Tyrion Lannister</strong> says "Perhaps that is the secret. It is not what we do, so much as why we do it."
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubble positive"></i> 2
                        <i class="icon ion-heart assertive"></i> 4
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 12 mins ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('assets/imgs/sansa.jpg');"></span>
                    <strong>Sansa Stark</strong> added a gallery <strong>Pretending to be Anna from Frozen</strong> ...
                    <a class="image"><img src="assets/imgs/sansa-snowcastle.png">
                    </a>
                    <a class="image"><img src="assets/imgs/sansa-snowcastle2.jpg">
                    </a>
                    <a class="image"><img src="assets/imgs/sansa-snowcastle3.jpg">
                    </a>
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubble positive"></i> 2
                        <i class="icon ion-heart assertive"></i> 4
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 3 hrs ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
		
		
		
		
		
  <ion-card>
    <img src="assets/imgs/card-saopaolo.png"/>
    <div class="card-title">São Paulo</div>
    <div class="card-subtitle">41 Listings</div>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/card-amsterdam.png"/>
    <div class="card-title">Amsterdam</div>
    <div class="card-subtitle">64 Listings</div>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/card-sf.png"/>
    <div class="card-title">San Francisco</div>
    <div class="card-subtitle">72 Listings</div>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/card-madison.png"/>
    <div class="card-title">Madison</div>
    <div class="card-subtitle">28 Listings</div>
  </ion-card>

   


	
</ion-content>


